[Desktop Entry]
Name=Launcher
Comment=Launch applications
Categories=System;
Exec=synapse
Terminal=false
Type=Application
Icon=system-software-install
